
/*font-family: 'Open Sans', sans-serif; (Text)
font-family: 'Merriweather', serif; (Headings)
*/


/*
Primary Colors:

#F0F0F0 - lightGrey, Background
#1C3045 - NavyBlue, Headings?

Secondary Colors:
#D7BCC8 - DarkPink, Header, Forms
#A6C9C6 - WierdGreen, Sidebar
#252525 - AlmostBlack, Text

*/


h1, h2, h3, h4 {
	font-family: 'Merriweather', serif;
}

p {
	font-family: 'Open Sans', sans-serif;
}

body {
	background-color: #F0F0F0;
}

.register-box {
	background-color: #D7BCC8;
	border-radius: 5%;
	padding: 20px;
	max-width: 320px;
    margin-top: 40px;
}

form {
	text-align: right;
}

input {
	margin-bottom: 10px;
}

a {
	 color: #6E6BFC;
}

.ml-0 {
	margin-left: 0 !important;
}
.mr-0 {
	margin-right: 0 !important;
}

header {
	min-height: 4em;
	width: 100%;
	background-color: #D7BCC8;
}

.header-logo {
	margin: 1em 0;
}

.header-logo img {
	max-width: 100%;
	object-fit: cover;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {
    .index-main{
        width: 80%;
        height: 1000px;
        border: 1px solid black;
    }
    .index-sidebar{
        background-color: #A6C9C6;
        height: 1000px;
        border: 1px solid black;
    }
    .blogpost-section{
        height: 1000px;
        border: 1px solid black;
    }
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
    
}
