
/*font-family: 'Open Sans', sans-serif; (Text)
font-family: 'Merriweather', serif; (Headings)
*/


/*
Primary Colors:

#F0F0F0 - lightGrey, Background
#1C3045 - NavyBlue, Headings?

Secondary Colors:
#D7BCC8 - DarkPink, Header, Forms
#A6C9C6 - WierdGreen, Sidebar
#252525 - AlmostBlack, Text
#60495A
#95B8D1

*/


h1,
h2,
h3,
h4,
label {
	font-family: 'Merriweather', serif;
}

h3 {
	margin-top: 0.5rem;
	font-size: 1.3em;
}

p,
span {
	font-family: 'Open Sans', sans-serif;
	color: #252525;
}

a {
	 color: #1C3045;
	 font-size: 0.9em;
}

body {
	background-color: #F0F0F0;
}


.ml-0 {
	margin-left: 0 !important;
}
.mr-0 {
	margin-right: 0 !important;
}
.pl-0 {
	padding-left: 0 !important;
}
.pr-0 {
	padding-right: 0 !important;
}



/* ---------------------------------HEADER ----------------------------------*/


.header {
	background-color: #1C3045;
	height: 8em;
}

.header-logo {
    position: absolute;
    display: block;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}

.header-logo img {
	max-height: 5em;
}
.header-buttons {
	margin-right: 1em;
}


/* ----------------------------BUTTONS-----------------------------------------*/

.button {
	display: inline-block;
	text-transform: uppercase;
	border-radius: 4px;
	background-color: transparent;
	border: none;
	color: #F0F0F0;
	text-align: center;
	font-size: .9em;
	letter-spacing: 1px;
	padding: 10px;
	width: 120px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }

  .button span {
	color: #F0F0F0;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }

  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
	margin-top: -8px;
	font-size: 20px;
	color: #F0F0F0;
  }

  .button:hover span {
	padding-right: 25px;
  }

  .button:hover span:after {
	opacity: 1;
	right: 0;
  }


/* ---------------------------REGISTER/LOGIN--------------------------- */

.register-box {
	background-color: #95B8D1;
	border-radius: 5%;
	padding: 20px;
  	margin-top: 2em;
	  margin-bottom: 400px;
}
.register-box h3,
.register-box label {
	font-family: 'Merriweather', serif;
}

input {
	margin-bottom: 10px;
}


/* ----------------------------INDEX -----------------------------------------*/

main {
    max-width: 1500px;
    background-color: #F0F0F0;
    margin: 0 auto;
    padding: 2em 0;
}

.card-img-top {
    height: auto;
}

.card {
	margin: 20px 0px;
}
.card h2 {
	font-family: 'Merriweather', serif;
	font-size: 1.6rem;
}

.card img:hover {
    opacity: 0.7;
}

.blogpost-section {
	padding-right: 40px;
}

.index-sidebar{
    background-color: #95B8D1;
    opacity: 20%;
	padding:1em;
	margin: 20px auto;
	height: 1500px;
	border-radius: 1%;
}
.index-sidebar h2,
.index-sidebar h3 {
	font-family: 'Merriweather', serif;
}

.h2-sidebar {
	font-size: 1.6rem;
	margin-bottom: 0.5rem;
}


.category-box h3 {
	font-size: 1.3rem;
}

.category-box li a {
	color: #1C3045;
}


.category-box li {
	line-height: 1.4em;
	/* text-decoration: underline; */
}

.category-box {
	padding: 10px 0;
}

.post-row {
	margin-bottom: 1.5em;
	height: auto;
}

.image-row{
	height: 20em;
	overflow: hidden;
	background-position: center;
}

.image-row img{
	object-fit: cover;
	max-width: 100%;
	min-height: 100%;
}


/* ---------------------------------------FOOTER--------------------------------*/

footer {
	background-color: #1C3045;
}

.footer {
	height: 7em;
}

.footer-logo {
  position: absolute;
  display: block;
	left: 50%;
	transform: translate3d(-50%, 0, 0);
}

.footer-links ul {
	padding: 0 !important;
}

.footer-logo img {
	max-height: 4em;
}

.footer-icons i {
	font-size: 3em;
	color: white;
	margin: 0 0.5em 0.5em 0.5em;
}

.footer-icons i:hover {
	color: #95B8D1;
}

.footer-links li a {
	color: white;
	list-style: none;
	margin-right: 0.5em;
}

.footer-links li {
	color: white;
	list-style: none;
	display: inline;
}

/*footer {
	margin-top: 250px;
	height: 250px;
	background-color: #1C3045;
}

em.pinterest{
	background: url(images/pinterest.png);
    background-size: 24px;
    background-position: center;
    height: 24px;
    width: 24px;
    display: block;
}*/

/* ----------------------------FORM-----------------------------------------*/


.add-post, .comment-form, .edit-post-form {
	text-align: left;
}

.add-description textarea {
	resize: none;
	width: 100%;
	height: 50vh;
}

.add-title input {
	width: 100%;
}

.comment-form{
    text-align: center;
}

.comment-form textarea{
    height: 100px;
    max-width: 600px;
    width: 90%;
    margin: 0 auto;
}
label {
	display: block;
}
input[type=text],
textarea,
.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    resize: none;
}

input[type=text]:focus,
textarea:focus {
    border: 3px solid #60495A;
}
.radio-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}
.textarea-add {
    min-width: 100%;
    height: 20em;
}
.radio {
    margin-right: -2em;
}
.edit-post-form {
	margin-bottom: 6em;
}
/* .edit-post-section {
	min-width: 100%;
} */
.edit-post-image img {
	max-width: 30em;
}

.card-header {
	position: relative !important;
}

/* ----------------------------SINGLE POST-----------------------------------------*/

.border-right{
    border-right: 2px solid black;
}
.comment-card .card{
    margin: 0 auto;
    float: none;
}
.blue-header{
    background-color: #95B8D1 !important;
}
.single-post-img{
    width: 80%;
    margin: 20px 10%;
}
.text-center{
    text-align: center;
}

.text-center-related{
	font-size: 1.3em;
	text-align: center;
	margin-top: 0.5em;
}

i{
    font-size: 1.5em;
}




/* ----------------------------MEDIAQUERIES-----------------------------------------*/


@media screen and (min-width: 576px) {
	.card-columns.count {
		column-count: 2;
	}
}


@media (max-width: 768px) {

.header-logo {
    left: 0;
    transform: none;
    margin-left: 1em;
}

.header-logo img {
    max-height: 4em;
}

}




/* Small devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

    main{
        width: 95% !important;
    }
	.comment-form textarea{
		height: 150px;
		width: 60%;
	}
	.radio {
        margin-right: -12em;
    }
    .radio-buttons {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
	}
	.register-box {
		max-width: 30em;

	}

	.comment-form textarea{
		height: 150px;
		width: 60%;
	}
	.radio {
		margin-right: -12em;
	}
	.radio-buttons {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	.register-box {
		max-width: 30em;
	}



}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
	.card-columns {
		column-count: 2;
	}

}
@media screen and (min-width: 1024px) {
	.card-columns.count {
		column-count: 3;
	}

}



/* .card-columns {
	display: flex;
	flex-flow: row wrap;
	margin-left: -8px;
  } */

  /* .card {
	flex: auto;
	min-height: 100px;
	max-width: 30%;
	margin: 0 8px 8px 0;
  } */


	/* .card:nth-child(4n+1){
	   width: 250px;
	}
	.card:nth-child(4n+2){
	   width: 325px;
	}
	.card:nth-child(4n+3){
	   width: 180px;
	}
	.card:nth-child(4n+4){
	   width: 380px;
	} */
